<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">

<nav th:replace="fragments :: navigation"></nav>

<form method="post">
    <div class="form-group">
        <label>Name
            <input th:field="${eventCategory.name}" class="form-control">
        </label>
        <span th:errors="${eventCategory.name}" class="error-color"></span>
    </div>
    <input type="submit" value="Create" class="btn btn-primary">
</form>

</body>
</html>